ul { 
    list-style-type: none; 
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
    padding: 10px 10px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

input {
    width : 150px;
    margin: 0;
  
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
       -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
            box-sizing: border-box;
}


.touppercase {
    text-transform: uppercase;
}

/* CALENDAR */

.weekdays {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.weekdays li {
    text-align: center;
    width: 100%;
}

.month {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.month li {
    text-align: center;
    width: 100%;
    background-color: aquamarine;
    padding: 8px;
}

.days {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.days li {
    text-align: center;
    width: 100%;
    padding: 8px;
    border: 2px solid;
    border-color: white;
}

.notaday {
    background-color: grey;
}

.weekday {
    background-color: greenyellow;
    padding: 8px;
}

.weekend {
    background-color: yellow;
    padding: 8px;
}

.holiday {
    background-color: red;
    padding: 8px;
}

/* FIN CALENDAR */


